%h1 #{@person.name}

%h2 Quick view

= render partial: "person", locals: { person: @person }

- if @person.homepage
  = link_to "Remove #{@person.name} from homepage", person_toggle_homepage_path(@person), method: :post
- else
  = link_to "Feature #{@person.name} on homepage", person_toggle_homepage_path(@person), method: :post

%h2 Highest authority facts

%table
  %thead
    %tr
      %th Authority
      %th Key
      %th Value
      %th Source
      %th

  %tbody
    - @person.top_facts.each do |fact|
      %tr
        %td= fact.source.authority
        %td= fact.key
        %td= fact.value
        %td= link_to fact.source.key, source_path(fact.source)
        %td= link_to "delete", fact_path(fact), method: :delete

%h2 Add fact

= render partial: "facts/edit", locals: { fact: Fact.new(person: @person) }

%h2 All facts

%table
  %thead
    %tr
      %th Authority
      %th Key
      %th Value
      %th Source

  %tbody
    - @person.facts.each do |fact|
      %tr
        %td= fact.source.authority
        %td= fact.key
        %td= fact.value
        %td= link_to fact.source.key, source_path(fact.source)
        %td= link_to "delete", fact_path(fact), method: :delete
