%h1 #{@person.name}

%h2 Quick view

= render partial: "person", locals: { person: @person }

%h2 Highest authority facts

%table
  %thead
    %tr
      %th Authority
      %th Key
      %th Value
      %th Source

  %tbody
    - @person.top_facts.each do |fact|
      %tr
        %td= fact.source.authority
        %td= fact.key
        %td= fact.value
        %td= link_to fact.source.key, source_path(fact.source)

%h2 All facts

%table
  %thead
    %tr
      %th Authority
      %th Key
      %th Value
      %th Source

  %tbody
    - @person.facts.each do |fact|
      %tr
        %td= fact.source.authority
        %td= fact.key
        %td= fact.value
        %td= link_to fact.source.key, source_path(fact.source)
